body {
    padding: 25px;
    background-color: white;
    color: black;
    color: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}